<!-- Benefits -->
<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <p class="text-center text-sm font-semibold uppercase text-lightblue-700 tracking-wide">
       Specialister i varmepumper
     </p>
    <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="relative">
        <dt>
          <%= render_svg "icons/check-outline",
                          styles: "absolute h-6 w-6 text-red-500" %>
          <p class="ml-9 text-lg leading-6 font-medium text-lightblue-900">Ingen startomkostninger</p>
        </dt>
        <dd class="mt-2 ml-9 text-base text-gray-500">
          Fjernelse af din nuværende varmeløsning og installation af din varmepumpe er gratis.
        </dd>
      </div>
      <div class="relative">
        <dt>
          <%= render_svg "icons/check-outline",
                          styles: "absolute h-6 w-6 text-red-500" %>
          <p class="ml-9 text-lg leading-6 font-medium text-lightblue-900">Nyeste teknologi</p>
        </dt>
        <dd class="mt-2 ml-9 text-base text-gray-500">
          Din Varmeo varmepumpe er miljørigtig, støjsvag og tilpasset det nordiske klima.
        </dd>
      </div>
      <div class="relative">
        <dt>
          <%= render_svg "icons/check-outline",
                          styles: "absolute h-6 w-6 text-red-500" %>
          <p class="ml-9 text-lg leading-6 font-medium text-lightblue-900">Ingen uventede udgifter</p>
        </dt>
        <dd class="mt-2 ml-9 text-base text-gray-500">
          Levetiden for en varmepumpe er gns. 12-18 år. Når den skal udskiftes, står vi også for det.
        </dd>
      </div>
      <div class="relative">
        <dt>
          <%= render_svg "icons/check-outline",
                          styles: "absolute h-6 w-6 text-red-500" %>
          <p class="ml-9 text-lg leading-6 font-medium text-lightblue-900">Grøn energi er fremtiden</p>
        </dt>
        <dd class="mt-2 ml-9 text-base text-gray-500">
          Spar miljøet for ca. 60 tons CO<sub>2</sub> over 15 år med en varmepumpe. Det svarer til 180.000 dåseøl.
        </dd>
      </div>
    </dl>
  </div>
</div>