<!-- Feature comparison (up to lg) -->
<section aria-labelledby="mobileComparisonHeading" class="lg:hidden">
  <h2 id="mobileComparisonHeading" class="sr-only">Sammenligning af køb og abonnement</h2>

  <div class="max-w-2xl mx-auto py-16 px-4 space-y-16 sm:px-6">
    <div class="border-t border-gray-200" key="plan.title">
      <div class="border-transparent -mt-px pt-6 border-t-2 sm:w-1/2">
        <h3 class="text-gray-900 text-sm font-bold">Køb af varmepumpe</h3>
        <p class="mt-2 text-sm text-gray-500">Til dig, der gerne vil eje din varmepumpe.</p>
      </div>
      <h4 class="mt-10 text-sm font-bold text-gray-900">Varmepumpe-løsningen</h4>

      <div class="mt-6 relative">
        <!-- Fake card background -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="shadow absolute right-0 w-1/2 h-full bg-white rounded-lg"></div>
        </div>

        <div class="ring-1 ring-black ring-opacity-5 shadow relative py-3 px-4 bg-white rounded-lg sm:p-0 sm:bg-transparent sm:rounded-none sm:ring-0 sm:shadow-none">
          <dl class="divide-y divide-gray-200">
            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Pris for varmepumpe + installation</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <span class="text-gray-900 text-sm font-medium">Fra ca. 15–25.000 kr. + evt. låneomkostninger</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Markedsførende varmepumpe tilpasset nordisk klima</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Komplet installation af inde- og ude-del</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Omkostningsfri ny varmepumpe ved udtjent periode</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Undgå hvert år at skulle betale, booke og sørge for det årlige serviceeftersyn</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <span class="text-gray-900 text-sm font-medium">Nej. Afsæt ca. 1.400 kr./år til eftersyn</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Undgå at betale, når anlægget skal repareres</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <span class="text-gray-900 text-sm font-medium">Nej. Afsæt ca. 500 kr./år til reparationer</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">24/7 overvågning af drift, så fejl opdages og udbedres</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                 <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Løbende optimering af dit varmeforbrug</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                 <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Vi forsikrer din varmepumpe</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>
          </dl>
        </div>

        <!-- Fake card border -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="ring-1 ring-black ring-opacity-5 absolute right-0 w-1/2 h-full rounded-lg"></div>
        </div>
      </div>

      <h4 class="mt-10 text-sm font-bold text-gray-900">Andre fordele</h4>

      <div class="mt-6 relative">
        <!-- Fake card background -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="shadow absolute right-0 w-1/2 h-full bg-white rounded-lg"></div>
        </div>

        <div class="ring-1 ring-black ring-opacity-5 shadow relative py-3 px-4 bg-white rounded-lg sm:p-0 sm:bg-transparent sm:rounded-none sm:ring-0 sm:shadow-none">
          <dl class="divide-y divide-gray-200">
            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Er der en service hotline, jeg nemt kan kontakte?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Hvad skal jeg spare op hver måned for at have råd til et nyt anlæg om 5 år?</dt>
              <dd class="text-center sm:px-4">
                <span class="text-gray-900 text-sm font-medium">Afsæt ca. 550 kr./md.</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Undgår jeg renter og andre låneomkostninger?</dt>
              <dd class="text-center sm:px-4">
                <span class="text-gray-900 text-sm font-medium">Afhænger af om du betaler kontant</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Ejer jeg varmepumpen og den øvrige installation?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Findes der tilskudsordninger?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Varmeo app med nemt overblik over forbrug</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>
          </dl>
        </div>

        <!-- Fake card border -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="ring-1 ring-black ring-opacity-5 absolute right-0 w-1/2 h-full rounded-lg"></div>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-200" key="plan.title">
      <div class="border-lightblue-600 -mt-px pt-6 border-t-2 sm:w-1/2">
        <h3 class="text-lightblue-600 text-sm font-bold">Varmepumpe på abonnement</h3>
        <p class="mt-2 text-sm text-gray-500">Til dig, der gerne vil have grøn varme nemt og billigt.</p>
      </div>
      <h4 class="mt-10 text-sm font-bold text-gray-900">Varmepumpe-løsningen</h4>

      <div class="mt-6 relative">
        <!-- Fake card background -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="shadow-md absolute right-0 w-1/2 h-full bg-white rounded-lg"></div>
        </div>

        <div class="ring-2 ring-lightblue-600 shadow-md relative py-3 px-4 bg-white rounded-lg sm:p-0 sm:bg-transparent sm:rounded-none sm:ring-0 sm:shadow-none">
          <dl class="divide-y divide-gray-200">
            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Pris for varmepumpe + installation</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <span class="text-lightblue-600 text-sm font-medium">0 kr.</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Markedsførende varmepumpe tilpasset nordisk klima</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Komplet installation af inde- og ude-del</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Omkostningsfri ny varmepumpe ved udtjent periode</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Undgå hvert år at skulle betale, booke og sørge for det årlige serviceeftersyn</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Undgå at betale, når anlægget skal repareres</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">24/7 overvågning af drift, så fejl opdages og udbedres</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Løbende optimering af dit varmeforbrug</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex items-center justify-between sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-gray-600">Vi forsikrer din varmepumpe</dt>
              <dd class="flex items-center justify-end sm:px-4 sm:justify-center">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>
          </dl>
        </div>

        <!-- Fake card border -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="ring-2 ring-lightblue-600 absolute right-0 w-1/2 h-full rounded-lg"></div>
        </div>
      </div>

      <h4 class="mt-10 text-sm font-bold text-gray-900">Andre fordele</h4>

      <div class="mt-6 relative">
        <!-- Fake card background -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="shadow-md absolute right-0 w-1/2 h-full bg-white rounded-lg"></div>
        </div>

        <div class="ring-2 ring-lightblue-600 shadow-md relative py-3 px-4 bg-white rounded-lg sm:p-0 sm:bg-transparent sm:rounded-none sm:ring-0 sm:shadow-none">
          <dl class="divide-y divide-gray-200">
            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Er der en service hotline, jeg nemt kan kontakte?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Hvad skal jeg spare op hver måned for at have råd til et nyt anlæg om 5 år?</dt>
              <dd class="text-center sm:px-4">
                <span class="text-lightblue-600 text-sm font-medium">0 kr.</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Undgår jeg renter og andre låneomkostninger?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Ejer jeg varmepumpen og den øvrige installation?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Findes der tilskudsordninger?</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>

            <div class="py-3 flex justify-between sm:grid sm:grid-cols-2">
              <dt class="text-sm font-medium text-gray-600 sm:pr-4">Varmeo app med nemt overblik over forbrug</dt>
              <dd class="text-center sm:px-4">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-lightblue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </dd>
            </div>
          </dl>
        </div>

        <!-- Fake card border -->
        <div aria-hidden="true" class="hidden absolute inset-0 pointer-events-none sm:block">
          <div class="ring-2 ring-lightblue-600 absolute right-0 w-1/2 h-full rounded-lg"></div>
        </div>
      </div>
    </div>
  </div>
</section>