<div class="bg-lightblue-50">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-lightblue-900 sm:text-4xl">
      <span class="block">Hvor meget sparer du på varmeregningen?</span>
      <span class="block text-lightblue-600">Beregn på under 2 minutter.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="btn btn-xl btn-red-gradient">
          Beregn din pris
        </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="#" class="btn btn-xl btn-white text-lightblue-600 border-transparent hover:text-lightblue-700 hover:bg-lightblue-50">
          Find din pumpe
        </a>
      </div>
    </div>
  </div>
</div>