<div class="mt-10 grid grid-cols-1 sm:grid-cols-2 gap-0.5 rounded overflow-hidden">
  <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
    <div>
      <a href="https://sparenergi.dk/forbruger/vaerktoejer/energiloesninger/skift-til-varmepumpe-pa-abonnement" target="_blank"><img class="max-h-18 mx-auto" src="https://sparenergi.dk/sites/forbruger.dk/themes/forbruger_theme/logo.svg" alt="Workcation"></a>
      <p class="text-sm font-medium text-gray-600 text-center mt-1">Kvalificeret leverandør</p>
    </div>
  </div>

  <div class="col-span-1 flex justify-center bg-gray-50 py-8 px-8">
    <div>
      <div class="flex justify-center align-center">
        <% 4.times do %>
          <%= render_svg "icons/star-solid",
                          styles: "text-emerald-600 h-8 w-8 flex-shrink-0" %>
        <% end %>
        <%= render_svg "icons/star-solid",
                        styles: "text-gray-400 h-8 w-8 flex-shrink-0" %>
      </div>
      <p class="text-sm font-medium text-gray-600 text-center mt-1">Vores kunder er glade for os</p>
      <p class="text-sm text-gray-600 text-center mx-auto underline hover:no-underline mt-1"><a href="https://www.trustpilot.com/review/varmeo.dk" target="_blank">Læs Trustpilot anmeldelser</a></p>
    </div>
  </div>
</div>