<% content_for :meta_title, "Tak for din forespørgsel" %>
<meta name="robots" content="noindex">

<div class="relative overflow-hidden bg-white py-16">
  <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
    <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
      <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <div class="flex justify-center">
        <%= render_svg "icons/check-circle-outline",
                        styles: "h-32 w-32 text-emerald-600" %>
      </div>
      <h1 class="mt-6">
        <span class="block text-center text-lg font-semibold text-sky-600">Tilbud på luft-til-vand varmepumpe</span>
        <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Tak for din forespørgsel!</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">Fantastisk! Du er nu et skridt tættere på en grønnere og mere økonomisk opvarmning. Vores team dykker ned i detaljerne og beregner tallene for at give dig det bedste tilbud. Du vil modtage dit skræddersyede tilbud indenfor de næste par dage. Hold øje med din indbakke!</p>
    </div>
    <div class="prose prose-lg prose-sky mx-auto mt-6 text-gray-500">
      <p>Skulle du mod forventning ikke høre fra os, kan vores tilbud være røget i spam-mappen. Vi vil ikke gå glip af chancen for at hjælpe dig. Så tøv ikke med at give os et kald på tlf. <a href="tel:70230250">70 230 250</a> eller sende en mail til <a href="mailto:info@varmeo.dk">info@varmeo.dk</a>, hvis du har nogen spørgsmål. Vi er her for at hjælpe dig!</p>
    </div>
  </div>
</div>
