<% content_for :meta_title, "Varmepumpe luft-til-vand - Få tilbud" %>

<div class="h-[28rem]">
  <%= image_tag "family_vand_1100.jpg",
                class: "h-full w-full object-cover" %>
</div>

<div class="bg-white border-b border-gray-200">
  <div class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:px-8 lg:pt-16 lg:pb-24">
    <iframe data-tally-src="https://tally.so/embed/mDqdMj?alignLeft=1&transparentBackground=1&dynamicHeight=1" width="100%" height="516" frameborder="0" marginheight="0" marginwidth="0" title="Luft til vand varmepumpe på abonnement"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if(d.querySelector('script[src="'+w+'"]'))v();else{var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
  </div>
</div>

<%= render "static/shared/logo_cloud_section" %>

