<!-- Feature comparison (lg+) -->
<section aria-labelledby="comparisonHeading" class="hidden lg:block bg-gray-50">
  <h2 id="comparisonHeading" class="sr-only">Feature comparison</h2>

  <div class="max-w-7xl mx-auto py-24 px-8">
    <div class="w-full border-t border-gray-200 flex items-stretch">
      <div class="-mt-px w-1/3 py-6 pr-4 flex items-end">
        <h3 class="mt-auto text-sm font-bold text-gray-900">Vælg den rette løsning for dig</h3>
      </div>

      <div aria-hidden="true" class="pr-4 -mt-px pl-4 w-1/3">
        <div class="border-transparent py-6 border-t-2">
          <p class="text-gray-900 text-sm font-bold text-gray-900">Køb af varmepumpe</p>
          <p class="mt-2 text-sm text-gray-500">Til dig, der gerne vil eje din varmepumpe.</p>
        </div>
      </div>

      <div aria-hidden="true" class="pr-4 -mt-px pl-4 w-1/3">
        <div class="border-red-600 py-6 border-t-2">
          <p class="text-sky-600 text-sm font-bold text-gray-900">Varmepumpe på abonnement</p>
          <p class="mt-2 text-sm text-gray-500">Til dig, der gerne vil have grøn varme nemt og billigt.</p>
        </div>
      </div>
    </div>

    <div class="relative">
      <!-- Fake card backgrounds -->
      <div class="absolute inset-0 flex items-stretch pointer-events-none" aria-hidden="true">
        <div class="w-1/3 pr-4"></div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full bg-white rounded-lg shadow"></div>
        </div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full bg-white rounded-lg shadow-md"></div>
        </div>
      </div>

      <table class="relative w-full">
        <tbody class="divide-y divide-gray-100">
          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Pris for varmepumpe + installation</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-gray-700 text-sm font-medium">Fra ca. 100–150.000 kr. + evt. låneomkostninger</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-sky-600 text-sm font-medium">6.000 kr.</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Markedsførende varmepumpe tilpasset nordisk klima</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Komplet installation med varmtvandsbeholder, buffertank mm.</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Omkostningsfri ny varmepumpe ved udtjent periode</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="relative w-full h-full py-3">
                  <!-- Heroicon name: solid/x -->
                  <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                  <span class="sr-only">Nej</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Undgå hvert år at skulle betale, booke og sørge for det årlige serviceeftersyn</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-gray-700 text-sm font-medium">Nej. Afsæt ca. 2.000 kr./år til eftersyn</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Undgå at betale, når anlægget skal repareres</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-gray-700 text-sm font-medium">Nej. Afsæt ca. 2.000 kr./år til reparationer</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">24/7 overvågning af drift, så fejl opdages og udbedres</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Løbende optimering af dit varmeforbrug</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Vi forsikrer din varmepumpe</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Fake card borders -->
      <div class="absolute inset-0 flex items-stretch pointer-events-none" aria-hidden="true">
        <div class="w-1/3 pr-4"></div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full rounded-lg ring-1 ring-black ring-opacity-5"></div>
        </div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full rounded-lg ring-2 ring-sky-600 ring-opacity-100"></div>
        </div>
      </div>
    </div>

    <h3 class="mt-10 text-sm font-bold text-gray-900">Andre fordele</h3>

    <div class="mt-6 relative">
      <!-- Fake card backgrounds -->
      <div class="absolute inset-0 flex items-stretch pointer-events-none" aria-hidden="true">
        <div class="w-1/3 pr-4"></div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full bg-white rounded-lg shadow"></div>
        </div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full bg-white rounded-lg shadow-md"></div>
        </div>
      </div>

      <table class="relative w-full">
        <caption class="sr-only">
          Perk comparison
        </caption>
        <thead>
          <tr class="text-left">
            <th scope="col">
              <span class="sr-only">Perk</span>
            </th>

            <th scope="col">
              <span class="sr-only">Starter plan</span>
            </th>

            <th scope="col">
              <span class="sr-only">Scale plan</span>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Er der en service hotline, jeg nemt kan kontakte?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Hvad skal jeg spare op hver måned for at have råd til et nyt anlæg om 15 år?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-gray-700 text-sm font-medium">Afsæt ca. 550 kr./md.</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-sky-600 text-sm font-medium">0 kr.</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Undgår jeg renter og andre låneomkostninger?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <span class="text-gray-700 text-sm font-medium">Afhænger af om du betaler kontant</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Kan jeg få reduceret elafgift på husstandens samlede elforbrug over 4.000 kWh/år?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Ejer jeg varmepumpen og den øvrige installation?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/x -->
                <svg class="mx-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Nej</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Findes der tilskudsordninger?</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>

          <tr>
            <th scope="row" class="w-1/3 py-3 pr-4 text-left text-sm font-medium text-gray-600">Varmeo app med nemt overblik over forbrug</th>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>

            <td class="px-4 relative w-1/3 py-0 text-center">
              <span class="relative w-full h-full py-3">
                <!-- Heroicon name: solid/check -->
                <svg class="mx-auto h-5 w-5 text-sky-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Ja</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Fake card borders -->
      <div class="absolute inset-0 flex items-stretch pointer-events-none" aria-hidden="true">
        <div class="w-1/3 pr-4"></div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full rounded-lg ring-1 ring-black ring-opacity-5"></div>
        </div>
        <div class="w-1/3 px-4">
          <div class="w-full h-full rounded-lg ring-2 ring-sky-600 ring-opacity-100"></div>
        </div>
      </div>
    </div>
  </div>
</section>